.header{
	height: 100px;
	background: red;
}

.container{overflow: hidden;

}



.block{width: 65%;
	height:200px;
	background: blue;
	float: left;
}




.content{width: 30%;
	height:200px;
	background: green;
	float: right;
}

 .box{


height: 150 px;


 }
 .pink{

 	
 }
 .red{

 
 }
 .green{

 	
 }







 .footer{

 	height: 100px;
 	background: black;
 }

